body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: none;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

canvas {
    display: block;
    margin: 0 auto;
}